.orderNoDataFound {
  text-align: center;
  font-weight: bolder;
}

.orderItems {
  padding: 20px;
  display: flex;
}

.orderItemsImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.orderItemsDetails {
  margin-left: 10px;
}