/* common css */
.margin-left-5-px {
  margin-left: 5px;
}
.margin-left-20-percent {
  margin-left: 20%;
}
.margin-top-15-px {
  margin-top: 15px;
}
.margin-top-30-px {
  margin-top: 30px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-10-px {
  margin: 10px;
}
.margin-20-px {
  margin: 20px;
}
.width-40-percent {
  width: 40%;
}
.word-break-break-all {
  word-break: break-all;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.main-conainer {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.not-found {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.display-flex {
  display: flex;
}
